html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.genericContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.generic_link {
  cursor: pointer;
  vertical-align: middle;
  height: 80;
  width: 80;
}

.right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.date-more {
  display: flex;
  justify-content: space-between;
  width: '100%';
  align-items: center;
  padding: 1rem;
}

// .commentBox {
//   border: 1px solid #4d5d53;
//   border-radius: 1rem;
// }

// .commentBlock {
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

.commentWrapper {
  padding-bottom: 3rem;
}

.breadCrumbWrapper {
  padding-bottom: 2rem;
}

.vertAlign {
  display: flex;
  align-items: center;
}

.likeStyle {
  color: #f7665a;
  cursor: pointer;
  vertical-align: middle;
}

.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

div.DraftEditor-root {
  background-color: white;
  height: 800px;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.column50 {
  width: 400px;
  border: 1px solid gray;
  border-radius: 1rem;
}

.row {
  display: flex;
  height: 100%;
}
